@media screen and ((max-width: 767px)) {
  .form {
    display: flex;
    margin: 0 auto;
    width: auto;
    max-width: 530px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    background-color: #f9f8f5;
  }
}

@media screen and ((min-width: 768px) and (max-width: 1199px)) {
  .form {
    display: flex;
    margin: 0 auto;
    width: auto;
    max-width: 530px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    background-color: #f9f8f5;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    width: auto;
    width: 526px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    background-color: #f9f8f5;
  }
}
@media screen and (max-width: 768px) {
  .formRow {
    width: 100%;
  }

  .formGroup {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .formRow {
    width: 100%;
    display: flex;
    gap: 24px;
  }
  .formGroup {
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .label {
    color: #000;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .label {
    color: #000;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 767px) {
  .input {
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    padding: 10px 12px;
    align-items: center;
    align-self: stretch;
    color: var(--Gray-500, #adb5bd);
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .input {
    outline: none;
    border: none;
    display: flex;
    padding: 14px 16px;
    align-items: center;
    align-self: stretch;
    color: var(--Gray-500, #adb5bd);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
@media (max-width: 1200px) {
  .form-row {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .customDropdown {
    width: 100%;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Gray-500, #adb5bd);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .customDropdown {
    width: 100%;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Gray-500, #adb5bd);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .dropdownSelected {
    width: 100%;
    padding: 14px 16px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .dropdownSelected {
    width: 100%;
    padding: 14px 16px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.dropdownSelected::after {
  content: "";
  background: url(../../images/SelectArrow.svg) no-repeat center;
  background-size: contain;
  width: 12px;
  height: 12px;
  display: block;
  margin-left: 10px;
}

.dropdownList {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .dropdownList li {
    padding: 10px;
    cursor: pointer;
    color: var(--Gray-500, #adb5bd);
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .dropdownList li {
    padding: 10px;
    cursor: pointer;
    color: var(--Gray-500, #adb5bd);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
.textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 14px 16px;
}

.submitButton {
  padding: 10px 20px;
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #e66a00;
}

@media screen and (max-width: 767px) {
  .submitBtn {
    cursor: pointer;
    border: none;
    display: flex;
    height: 50px;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #bd9a4a;
  }
}
@media screen and (min-width: 768px) {
  .submitBtn {
    cursor: pointer;
    border: none;
    display: flex;
    height: 50px;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-family: "Mulish";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #bd9a4a;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
@media screen and ((max-width: 479px)) {
  .modalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 260px;
  }
}
@media screen and ((min-width: 480px)) {
  .modalContent {
    position: relative;
    background-color: white;
    padding: 30px 40px;
    border-radius: 5px;
    text-align: center;
    width: 400px;
  }
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.closeBtn {
  padding: 10px 20px;
  background: #bd9a4a;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Mulish";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and ((max-width: 479px)) {
  .statusMessage {
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and ((min-width: 480px)) {
  .statusMessage {
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
