.callBackSection {
  background-color: #040402;
  padding: 65px 72px;
}
@media screen and ((max-width: 479px)) {
  .callBackTitle {
    color: #fff;
    font-family: "Mulish";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media screen and ((min-width: 480px) and (max-width: 1199px)) {
  .callBackTitle {
    color: #fff;
    font-family: "Mulish";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .callBackTitle {
    color: #fff;
    font-family: "Mulish";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media screen and ((max-width: 479px)) {
  .callBackBtn {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #bd9a4a;
    padding: 5px 4px;
    color: #fff;
    text-align: center;
    font-family: "Mulish";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media screen and ((min-width: 480px) and (max-width: 1199px)) {
  .callBackBtn {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #bd9a4a;
    padding: 15px 32px;
    color: #fff;
    text-align: center;
    font-family: "Mulish";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media screen and (min-width: 1200px) {
  .callBackBtn {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid #bd9a4a;
    padding: 15px 32px;
    color: #fff;
    text-align: center;
    font-family: "Mulish";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
